body    {
    margin: 0;
    padding: 0
}

div {
    margin: 0;
    padding: 10px 0px;
    overflow: hidden;
    background-color: black;
}



a {
    color: white;
    padding: 15px 16px;
    text-decoration:none;
    background-color: none;
}



a:hover {
    color: black;
    background-color: white;
}